index.html
history.html
history.json
nohup.out
.env
.env
.idea/
.vscode/
.venv/
__pycache__/
.DS_Store
commands.txt
delete/
.delete/
pyrightconfig.json
.DS_Store
var/data/user_data/conversations/
electron-conversations-app
.aider*
copies
